[submodule "Year 1/Programming Project/Coursework 1"]
    path = "Year 1/Programming Project/Coursework 1"
    url = https://github.com/DynoAbd786-Uni/Coursework-1-DynoAbd786-Uni.git

[submodule "Year 1/Programming Project/Coursework 2"]
    path = "Year 1/Programming Project/Coursework 2"
    url = https://github.com/DynoAbd786-Uni/Coursework-2-DynoAbd786-Uni.git
